* {
    margin: 0;
    padding: 0;
}

body {
    background: #e3e8e2;
    font-family: arial, verdana, sans-serif, '新宋体';
    width: 90%;
    margin: 0 auto;
}

/* ....header.... */

.logo {
    width: 100%;
}

.header {
    width: 90%;
    height: 60px;
    margin: 0 auto;
    background: #fff;
    border-bottom: 5px solid #6aa289;
}

.header .left {
    width: 60%;
}

.header .left h2 {
    font-size: 24px;
    letter-spacing: 2px;
    margin-left: 8%;
    padding-top: 1%;
    cursor: pointer;
    color: #6aa289;
}

.header .left p {
    font-size: 18px;
    letter-spacing: 0px;
    margin-left: 8%;
    padding-top: 0%;
    cursor: pointer;
    color: #6aa289;
}

.header .right {
    width: 40%;
    margin: 0 auto;
    margin-right: -20px;
    margin-top: -11.2%;
}

.header .right a {
    display: inline-block;
    color: #6aa289;
    letter-spacing: 1px;
    font-size: 15px;
    margin-left: 48%;
    padding-top: 22%;
    text-decoration: none;
}

.header .right a:nth-of-type(2) {
    margin-left: 6%;
} 
.header .right a:hover{
    text-decoration: underline;
}
.logo .img{
    width: 100%;
    height: 180px;
    background: url("/static/images/icons/11.jpg")no-repeat center center;
}

/* detail_book */
.detail_book{
    width: 100%;
    height: 100%;
    margin: 0% auto;
    background: rgb(238, 238, 243);
    cursor: pointer;
}
.detail_book .detail_book_list{
    width: 90%;
    height: 100%;
    background: #fff;
    border-bottom: 1px solid rgb(202, 215, 241);
    margin: 0% auto;
    border: 8px solid rgb(238, 238, 243);
    border-radius: 4px;
    margin-top: -0.8%;
}
/* 左边 */
.detail_book .detail_book_list .detail_book_list_left{
    width: 40%;
    height: 100%;
    margin: 0 3.5%;
    float: left;
} 
 .detail_book_list_left p{
    font-size: 35px;
    margin-top: 15px;
    margin-left: 10px;
    padding: 18px 2px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    color: #6aa289;
}
.detail_book .detail_book_list_left a{
    font-size: 16px;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 20px;
    color: rgb(65, 16, 240);
}
.detail_book_list_left a:hover{
    text-decoration: underline;
    color: red;
}
.detail_book_list_left #borrow_new{
    color: rgb(65, 16, 240);
    display: block;
}
.detail_book_list_left #borrow_new:hover{
    color: red;
}

.detail_book_list_left table{
    width: 90%;
    text-align: center;
    margin-left: 8px;
    color: rgb(97, 65, 17);
    border-collapse: collapse;
    margin-top: 0.5%;
}
.detail_book_list_left table th {
    border: 1px solid #dad1d1;
    background: rgb(248, 224, 228);
    height: 28px;
    font-size: 15px;
    width: 20%;
}

.detail_book_list_left table tr {
    height: 28px;
    border: 1px solid #dad1d1;
}

.detail_book_list_left table tr td {
    font-size: 12px;
    border: 1px solid #dad1d1;
    color: #6aa289;
}

/* 评论 */
.detail_book_list_left .book_comment h4{
    font-weight: normal;
    margin-top: 10px;
    margin-left: 8px;
    background: url("/static/images/icons/edit_icon.png")no-repeat 17%;
    background-size: 20px 22px;
    color: rgb(65, 16, 240);
}
.detail_book_list_left .book_comment h5{
    margin-top: 5px;
    margin-left: 30px;
    font-size: 16px;
    color: #6aa289;
    font-weight: normal;
}
.detail_book_list_left .book_comment p{
    font-size: 14px;
    text-indent: 16px;
    margin-top: -16px;
    color: #6aa289;
    border-bottom: 1px solid #dad1d1;
}

/* 写评论 */
.write textarea{
    margin-left: 2%;
    margin-top: 1%;
    text-indent: 10px;
    font-size: 14px;
    border: 1px solid #dad1d1;
}
.write button{
    width: 65px;
    height: 30px;
    border: none;
    text-decoration: none;
    outline: none;
    margin-bottom: 22px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    color: #6aa289;
}
.write button:hover{
    background: #6aa289;
    color: #fff;
}
.write #submit{
     margin-left: 65%;
}

/* 图片 */
.book_img{
    width: 100px;
    height: 120px;
    margin: 4% 30%;
} 

/* 清除浮动 */
.clear{
    clear: both;
}

/* 右边 */
.detail_book .detail_book_list .detail_book_list_right{
    width: 53%;
    display: block;
    float: left;
}
#book_right{
    list-style: none;
    margin: 35px 10%;
}
#book_right li p{
    font-size: 22px;
    display: inline;
    color: #6aa289;
}
#book_right li button{
    width: 90px;
    height: 30px;
    background: #6aa289;
    border: none;
    font-size: 16px;
    margin: 0% 6%;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
}
#book_right li button:hover{
    color: #fff;
    background: rgb(207, 53, 125);
}
#book_right li{
    font-size: 16px;
    padding: 2px;
}
#book_right .li_book_intro p{
    text-indent: 16px;
    display: block;
    font-size: 13px;
    margin-left: 4%;
}
#book_right .li_book_name{
    margin-top: 20px;
}
#book_right .li_book_author span{
    color: rgb(65, 16, 240);
}
#book_right .li_book_name span{
    color: red;
}
#book_right .detail{
    font-weight: bold;
    color: #6aa289;
}

#book_right .li_book_show a{
    color: rgb(65, 16, 240);
    text-decoration: none;
}
#book_right .li_book_show a:hover{
    text-decoration: underline;
    color: red;
} 

/* table原本为隐藏 */
#book_right li table{
    width: 100%;
    text-align: center;
    color: rgb(97, 65, 17);
    border-collapse: collapse;
    margin-top: 0.5%;
}

#book_right li table th {
    height: 30px;
    font-size: 15px;
    background: rgb(248, 224, 228);
    border: 1px solid #dad1d1;
    width: 18%;
}

#book_right li table tr {
    height: 30px;
    border: 1px solid #dad1d1;
}

#book_right li table tr td {
    border: 1px solid #dad1d1;
    font-size: 13px;
    color: #6aa289;
}

/* ...footer... */

footer.footer {
    text-align: center;
    margin-bottom: 30px;
    width: 90%;
    margin: 0% auto;
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

footer.footer p {
    padding-top: 1%;
    color: #609980;
    font-weight: bold; 
}
.footer p:nth-of-type(2){
    padding-bottom: 1%;
}