* {
    margin: 0;
    padding: 0;
}

body {
    background: #e3e8e2;
    font-family: arial, verdana, sans-serif, '新宋体';
    width: 90%;
    margin: 0 auto;
}

/* ....header.... */

.logo {
    width: 100%;
}

.header {
    width: 90%;
    height: 65px;
    margin: 0 auto;
    background: #fff;
}

.header .left {
    width: 60%;
}

.header .left h2 {
    font-size: 24px;
    letter-spacing: 2px;
    margin-left: 8%;
    padding-top: 1%;
    cursor: pointer;
    color: #6aa289;
}

.header .left p {
    font-size: 18px;
    letter-spacing: 0px;
    margin-left: 8%;
    padding-top: 0%;
    cursor: pointer;
    color: #6aa289;
}

.header .right {
    width: 40%;
    margin: 0 auto;
    margin-right: -20px;
    margin-top: -11.2%;
}

.header .right a {
    display: inline-block;
    color: #6aa289;
    letter-spacing: 1px;
    font-size: 15px;
    margin-left: 48%;
    padding-top: 22%;
    text-decoration: none;
}

.header .right a:nth-of-type(2) {
    margin-left: 6%;
} 
.header .right a:hover{
    text-decoration: underline;
}
.logo .img{
    width: 100%;
    height: 180px;
    background: url("/static/images/icons/11.jpg")no-repeat center center;
}

/*...content...*/

.content {
    width: 90%;
    border-radius: 4px;
    margin: 0% auto;
    position: relative;
}

.content .nav {
    width: 100%;
    height: 54px;
}

.content .nav ul {
    width: 99%;
    height: 50px;
    background: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: 0% auto;
}

.content .nav ul li {
    list-style: none;
    width: 18%;
    height: 40px;
    float: left;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 0.8%;
    margin-left: 1%;
    border: 1px solid #e3e6ed;
}

.content .nav ul li:nth-of-type(1) {
    width: 18%;
    height: 41px;
    background: url("/static/images/icons/search_icon.png") no-repeat 16% 45%;
    background-size: 18px 18px;
}

.content .nav ul li:nth-of-type(2) {
    background: #609980 url("/static/images/icons/user1_icon.png") no-repeat 20% 40%;
    background-size: 18px 18px;
}

.content .nav ul li a {
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    display: block;
    line-height: 40px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: rgb(56, 27, 27);
}

.content .nav ul li .a_two{
    color: #fff;
}

.content .nav ul li:nth-of-type(1) a:hover {
    color: #fff;
    background: #609980 url("/static/images/icons/search1_icon.png") no-repeat 16% 45%;
    background-size: 18px 18px;
}

.content .nav ul li:nth-of-type(2) a:hover {
    color: #fff;
    background: #609980 url("/static/images/icons/user1_icon.png") no-repeat 20% 40%;
    background-size: 18px 18px;
}

/* 个人资料 */
.content .personal{
    width: 25%;
    background: #fff;
    margin-left: 0.4%;
    float: left;
}
.content .personal h4{
    text-align: center;
    margin-top: 1%;
    padding: 3% 2%;
    border-bottom: 1px solid #609980;
}
.content .personal .per_img{
    width: 90px;
    height: 120px;
    background: #fff url("/static/images/BookImages/007.gif")no-repeat;
}
.content .personal ul{
    margin-left: 41%;
    margin-top: -38%;
    padding-bottom: 1%;
}
.content .personal li{
    text-decoration: none;
    list-style-type: square;
    font-size: 15px;
    padding-bottom: 0.1%;
}
.content .personal .per_edit{
    list-style: none;
    padding-bottom: 2%;
}
.content .personal button{
    border: none;
    background: #e3e6ed;
    padding: 3% 6%;
    border-radius: 4px;
    cursor: pointer;
}
.content .personal button:hover{
    color: #fff;
    background: #609980;
}

/* 点击修改个人资料按钮出现弹窗 */
.content .personal_edit{
    width: 60%;
    background: #fff;
    position: absolute;
    top: 15%;
    left: 20%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: none;
    border: 1px solid #609980;
}
.content .personal_edit h4{
    text-align: center;
    color: #6aa289;
    margin-top: 1%;
    padding: 1.5% 1.5%;
    border-bottom: 3px solid #609980;
}
.content .personal_edit ul{
    margin: 1% auto;
    list-style: none;
    width: 60%;
    margin-right: 4%;
    letter-spacing: 0.11em;
    color: #609980;
    text-align: left;
}
.content .personal_edit ul li input{
    border: 1px solid #e3e6ed;
    margin-bottom: 0.1%;
    text-indent: 1em;
}
.content .personal_edit ul li #edit_sex,.content .personal_edit ul li #edit_level{
    border: 1px solid #e3e6ed;
    margin-top: 0.1%;
    text-indent: 0.8em;
    width: 120px;
}
.content .personal_edit ul li button{
    width: 60px;
    height: 28px;
    background: #e3e6ed;
    cursor: pointer;
    border: none;
    margin-top: 2%;
    margin-right: 5%;
    border-radius: 4px;
    color: #609980;
}
.content .personal_edit ul li button:hover{
    background: #609980;
    color: #fff;
}
.content .personal_edit ul li .cansel{
    margin-left: 2%;
}


/* 我的借阅历史 */
.content .borrow_content{
    width: 73.8%;
    margin-right: 0.5%;
    border-top-right-radius: 4px;
    background: #fff;
    float: right;
}
.content .borrow_content h4{
    text-align: center;
    margin-top: 1%;
    padding: 0.75% 1%;
    border-bottom: 1px solid #609980;
}
.content .borrow_content table{
    width: 100%;
    text-align: center;
    color: rgb(97, 65, 17);
    border-collapse: collapse;
    /* display: block; */
}
.content .borrow_content table tr{
    height: 30px;
    border: 1px solid #f7f1d9;
}
.content .borrow_content table th{
    border: 1px solid #f7f1d9;
    height: 30px;
    font-size: 15px;
}
.content .borrow_content table td{
    font-size: 12px;
    border: 1px solid #f7f1d9;
}
.content .borrow_content table td a{
    text-decoration: none;
    color: #666;
}
.content .borrow_content table td a:hover{
    text-decoration: underline;
    color: red;
}
.content .borrow_content table td button{
    border: 1px solid #e3e6ed;
    padding: 2% 8%;
    outline: none;
    cursor: pointer;
}
.content .borrow_content table td button:hover{
    color: #fff;
    background: #6aa289;
}
.content .borrow_content table td button:disabled{
    pointer-events: none;
    cursor: not-allowed;
    box-shadow: none;
    opacity: .65;
}
.content .borrow_content span{
    width: 30px;
    height: 30px;
    font-size: 28px;
    font-weight: bold;
    color: #666;
    cursor: pointer;
}
.content .borrow_content .left{
    margin-left: 10%;
}
.content .borrow_content .right{
    margin-left: 70%;
}

/* 我的评论 */
.content .my_comment{
    clear: both;
    width: 99.5%;
    margin: 0 auto;
    background: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 5px solid #e3e6ed;
}
.content .my_comment h4{
    text-align: center;
    color: #6aa289;
    margin-top: 1%;
    padding: 0.5% 1%;
    border-bottom: 3px solid #609980;
}
.content .my_comment h5{
    margin-left: 2%;
    padding: 1.5% 1%;
    font-size: 18px;
    font-weight: normal;
    color: #609980;
    display: inline;
}
.content .my_comment .comment_time{
    color: #609980;
    font-size: 13px;
    margin-left: 2%;
}
.content .my_comment p{
    font-size: 14px;
    text-indent: 2em;
    color: #609980;
    padding-bottom: 1%;
    margin-left: 0.5%;
    border-bottom: 2px solid #f7f1d9;
}

/* ...footer... */

footer.footer {
    text-align: center;
    margin-bottom: 30px;
    width: 89.5%;
    margin: 1.5% auto;
    background: #fff;
    border-top: 2px solid #e3e6ed;
    clear: both;
}

footer.footer p {
    padding-top: 1%;
    color: #609980;
    font-weight: bold; 
}
footer.footer p a{
    color: #000;
    font-weight: normal;
    text-decoration: none;
}
footer.footer p a:hover{
    text-decoration: underline;
}
.footer p:nth-of-type(2){
    padding-bottom: 1%;
}