form {
    width: 90%;
    height: 300px;
    margin: 0% auto;
    background: #fff;
    text-align: center;
}

form h4{
    color: #6aa289;
    font-size: 24px;
    letter-spacing: 1em;
    font-weight: normal;
    padding-top: 1.8%;
}

input {
    width: 300px;
    height: 35px;
    outline: none;
    text-indent: 8px;
    font-size: 14px;
    margin-top: 0.4%;
    text-decoration: none;
    border: 1px solid #6aa289;
    border-radius: 4px;
    cursor: text;
    color: #6aa289;
}

input.formInvalid::-webkit-input-placeholder {
    color: red;
}

button {
    width: 300px;
    height: 35px;
    background: #6aa289;
    outline: none;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
    margin-top: 1.1%;
    border: 1px #eee;
    cursor: pointer;
    letter-spacing: 1em;
}

button:hover {
    background: rgb(79, 139, 87);
} 

/* ...footer... */

footer.footer {
    text-align: center;
    margin-bottom: 30px;
    width: 90%;
    margin: 0.5% auto;
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #6aa289;
}

footer.footer p {
    padding-top: 1%;
    color: #609980;
    font-weight: bold; 
}
.footer p:nth-of-type(2){
    padding-bottom: 1%;
}
