<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>图书馆图书借阅管理系统</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/announcement.css')}}">
    <script>
        window.onload = function(){
            isLogin();
            getAnnouncements();
        }
    </script>
</head>

<body>
    <!--header-->
    <div class="logo">
        <div class="header">

            <div class="left">
                <h2>图书馆图书借阅管理系统</h2>
                <p>与志同道合的人分享读书的快乐</p>
            </div>

            <div class="right">
                <a href="{{url_for('main.login')}}">[ 登录 ]</a>
                <a href="{{url_for('main.register')}}">[ 注册 ]</a>
            </div>

        </div>
    </div>

    <!-- notice -->
    <div class="notice">
        <div class="notice_list">
            <h4 id="notice_caption">清明节图书馆开馆安排</h4>
            <p id="notice_content">清明节又叫踏青节，在仲春与暮春之交。是中国传统节日，也是最重要的祭祀节日之一，是祭祖和扫墓的日子。中华民族传统的清明节大约始于周代，距今已有二千五百多年的历史。
                清明最早只是一种节气的名称，其变成纪念祖先的节日与寒食节有关。晋文公把寒食节的后一天定为清明节。在山西大部分地区是在清明节前一天过寒食节；榆社县等地是在清明节前两天过寒食节；垣曲县还讲究清明节前一天为寒食节，前二天为小寒食。
                清明节是中国重要的“时年八节”之一，一般是在公历4月5号前后，节期很长，有10日前8日后及10日前10日后两种说法，这近20天内均属清明节。清明节原是指春分后十五天，1935年中华民国政府明定4月5日为国定假日清明节，也叫做民族扫墓节。
                《历书》：“春分后十五日，斗指丁，为清明，时万物皆洁齐而清明，盖时当气清景明，万物皆显，因此得名。”清明一到，气温升高，正是春耕的大好时节，故有“清明前后，种瓜点豆”之说。
                清明节与端午节、春节、中秋节并称为中国四大传统节日。2006年5月20日，中国文化部申报的清明节经国务院批准列入第一批国家级非物质文化遗产名录（类别：民俗；编号：Ⅹ-2）。</p>
        </div>
    </div>

    <!--footer-->
    <footer class="footer">
        <hr>
        <p>图书馆图书借阅管理系统&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&copy;2018</p>
        <p>Mail:
            <a href="mailto:joe@example.com?subject=feedback" "email me">email me</a>
        </p>
    </footer>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>

</html>