<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>图书馆图书借阅管理系统</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/announcement.css')}}">
    <script>
        window.onload = function(){
            isLogin();
            load_ann();
        }
    </script>
</head>

<body>
    <!--header-->
    <div class="logo">
        <div class="header">

            <div class="left">
                <h2>图书馆图书借阅管理系统</h2>
                <p>与志同道合的人分享读书的快乐</p>
            </div>

            <div class="right">
                <a href="{{url_for('main.login')}}">[ 登录 ]</a>
                <a href="{{url_for('main.register')}}">[ 注册 ]</a>
            </div>

        </div>
    </div>

    <!-- notice -->
    <div class="notice">
        <div class="notice_list">
            <h4 id="notice_caption"></h4>
            <p id="notice_content"></p>
        </div>
    </div>

    <!--footer-->
    <footer class="footer">
        <hr>
        <p>图书馆图书借阅管理系统&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&copy;2018</p>
        <p>Mail:
            <a href="mailto:joe@example.com?subject=feedback" "email me">email me</a>
        </p>
    </footer>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    <script src="{{url_for('static', filename='js/announcement.js')}}"></script>    
</body>

</html>