<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>图书管理-后台管理</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/borrow.css')}}">
    <script>
        window.onload = function () {
            load_admin_username();
        }
    </script>
</head>

<body>
    <!-- header -->
    <div class="header">
        <div class="header_left">
            <h2>图书馆图书借阅后台管理系统</h2>
            <span>LibraryManageSystem</span>
        </div>
        <div class="header_right">
            <span>您好，&nbsp;
                <a id="admin_username" href=""></a>
                &nbsp;&nbsp;
                <a href="" onclick="logout()">退出</a>
            </span>
        </div>
    </div>

    <!-- content -->
    <div class="content">
        <!-- nav -->
        <div class="nav_left">
            <nav>
                <ul>
                    <li>目录</li>
                    <li>
                        <a href="{{url_for('admin.create_new_book')}}">图书添加</a>
                    </li>
                    <li>
                        <a href="{{url_for('admin.manage_book')}}">图书管理</a>
                    </li>
                    <li>
                        <a href="{{url_for('admin.create_new_announcement')}}">公告添加</a>
                    </li>
                    <li>
                        <a href="{{url_for('admin.manage_announcement')}}">公告管理</a>
                    </li>
                    <li>
                        <a href="{{url_for('admin.add_borrow_record')}}">借阅管理</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- content_right -->
        <div class="content_right">
            <div class="book_collection_add">
                <p>图书借阅管理</p>
                <!-- 图书管理员搜索框 -->
                <div class="search">
                    <input class="search_inp" type="text" placeholder="书名">
                    <button class="search_box">搜索</button>
                </div>

                <table class="book_table">
                    <tr>
                        <th>编号</th>
                        <th>书名</th>
                        <th>标准编码</th>
                        <th>可外借藏本数量</th>
                        <th>已外借藏本数量</th>
                        <th>操作</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>你的我的倾城时光</td>
                        <td>9787536693968</td>
                        <td>2</td>
                        <td>1</td>
                        <td>
                            <button class="borrow_book">借书</button>
                        </td>
                    </tr>
                </table>

                <!-- 点击借书按钮显示弹窗 -->
                <div class="mask">
                    <div class="book_brw">
                        <p>图书外借</p>
                        <form action="" class="borrow_form" method="POST">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;借阅者：
                            <input class="user_brw" id="user_brw" type="text" required="required">
                            <br>
                            <ul class="borrow_ul">
                                <p>可借阅藏本:</p>
                                <li>
                                    <input type="checkbox" name="check_inp" class="check_inp" id="check_inp">
                                    藏本编号1&nbsp;&nbsp;云南农业大学西馆&nbsp;&nbsp;新校区
                                </li>
                                <li>
                                    <input type="checkbox" name="check_inp" class="check_inp" id="check_inp">
                                    藏本编号1&nbsp;&nbsp;云南农业大学西馆&nbsp;&nbsp;新校区
                                </li>
                            </ul>
                            <button id="submit_borrow">提交</button>
                            <button id="cancel_borrow" onclick="hidden_hidden_div()">取消</button>
                        </form>
                    </div>
                </div>

                <!-- 点击还书按钮显示弹窗 -->
                <!-- <div class="mask">
                    <div class="book_return">
                        <p>图书归还</p>
                        <ul class="return_ul">
                            <li>
                                <input type="checkbox" name="check_inp" class="check_inp" id="check_inp">
                                藏本编号1&nbsp;&nbsp;云南农业大学西馆&nbsp;&nbsp;新校区&nbsp;&nbsp;借阅者（ID）
                            </li>
                            <li>
                                <input type="checkbox" name="check_inp" class="check_inp" id="check_inp">
                                藏本编号1&nbsp;&nbsp;云南农业大学西馆&nbsp;&nbsp;新校区&nbsp;&nbsp;借阅者（ID）
                            </li>
                        </ul>
                        <button id="submit_return">提交</button>
                        <button id="cancel_return" onclick="hidden_hidden_div()">取消</button>
                    </div>
                </div> -->

            </div>
        </div>
    </div>

    <script src="{{url_for('static', filename='js/common.js')}}"></script>
    <script src="{{url_for('static', filename='js/borrow.js')}}"></script>
</body>

</html>