<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>公告添加-后台管理</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/createNewAnnouncement.css')}}">
</head>

<body>
    <!-- header -->
    <div class="header">
        <div class="header_left">
            <h2>图书馆图书借阅后台管理系统</h2>
            <span>LibraryManageSystem</span>
        </div>
        <div class="header_right">
            <span>您好，&nbsp;
                <a href="">admin</a>
                &nbsp;&nbsp;
                <a href="">退出</a>
            </span>
        </div>
    </div>
    <!-- content -->
    <div class="content">
        <!-- nav -->
        <div class="nav_left">
            <nav>
                <ul>
                    <li>目录</li>
                    <li>
                        <a href="{{url_for('admin.create_new_book')}}">图书添加</a>
                    </li>
                    <li>
                        <a href="{{url_for('admin.manage_book')}}">图书管理</a>
                    </li>
                    <li>
                        <a href="{{url_for('admin.create_new_announcement')}}">公告添加</a>
                    </li>
                    <li>
                        <a href="{{url_for('admin.manage_announcement')}}">公告管理</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- content_right -->
        <div class="content_right">
            <div class="book_add">
                <p>公告添加</p>
                <form action="" method="POST">
                    公告标题：
                    <input id="text_caption" class="name" type="text" required="required">
                    <br>
                    <br> 公告内容：
                    <textarea name="text_content" id="text_content" cols="100" rows="23"></textarea>
                    <br>
                    <br>
                    <input id="save_form" type="submit" value="保存">
                </form>
            </div>
        </div>
    </div>
</body>

</html>