<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>图书添加-后台管理</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/createNewBook.css')}}">
</head>

<body>
    <!-- header -->
    <div class="header">
        <div class="header_left">
            <h2>图书馆图书借阅后台管理系统</h2>
            <span>LibraryManageSystem</span>
        </div>
        <div class="header_right">
            <span>您好，&nbsp;
                <a href="">admin</a>
                &nbsp;&nbsp;
                <a href="">退出</a>
            </span>
        </div>
    </div>
    <!-- content -->
    <div class="content">
        <!-- nav -->
        <div class="nav_left">
            <nav>
                <ul>
                    <li>目录</li>
                    <li><a href="{{url_for('admin.create_new_book')}}">图书添加</a></li>
                    <li><a href="{{url_for('admin.manage_book')}}">图书管理</a></li>
                    <li><a href="">公告添加</a></li>
                    <li><a href="">公告管理</a></li>
                </ul>
            </nav>
        </div>
        <!-- content_right -->
        <div class="content_right">
            <div class="book_add">
                <p>图书添加</p>
                <form action="" method="POST">
                    图书名称：<input class="name" type="text" required="required"><br><br>
                    图书作者：<input class="authors" type="text"  required="required">&nbsp;<input class="add_author" type="text">&nbsp;<span>+</span><br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分类：
                    <select name="classification" id="classification">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select><br><br>
                    &nbsp;&nbsp;ISBN号：<input class="isbn" type="text"  required="required"><br><br>
                    图书语种：<input class="language" type="text"  required="required"><br><br>
                    图书主题：<input class="topic" type="text"  required="required"><br><br>
                    &nbsp;&nbsp;&nbsp;出版社：<input class="publish_house" type="text"  required="required"><br><br>
                    &nbsp;&nbsp;&nbsp;索书号：<input class="call_number" type="text"  required="required"><br><br>
                    出版年份：<input class="publish_date" type="text"  required="required"><br><br>
                    图书图片：<input class="image" type="text"  required="required"><br><br>
                    <input id="save_form" type="submit" value="保存">
                    <input id="cancel_form" type="submit" value="取消">
                </form>
            </div>
        </div>
    </div>
</body>

</html>