<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>图书详情页</title>
</head>
<body>
    <!--header-->
    <div class="logo">
            <div class="header">
    
                <div class="left">
                    <h2>图书馆图书借阅管理系统</h2>
                    <p>与志同道合的人分享读书的快乐</p>
                </div>
    
                <div class="right">
                    <a href="{{url_for('main.login')}}">[ 登录 ]</a>
                    <a href="{{url_for('main.register')}}">[ 注册 ]</a>
                </div>
    
            </div>
        </div>
</body>
</html>