<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>欢迎来到图书馆</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <script>
        window.onload = function(){
            isLogin();
            getAnnouncements();
        }
    </script>
</head>

<body>
    <!--header-->
    <div class="logo">
        <div class="header">

            <div class="left">
                <h2>欢迎来到图书馆</h2>
                <p>与志同道合的人分享读书的快乐</p>
            </div>

            <div class="right">
                <a href="{{url_for('main.login')}}">[登录]</a>
                <a href="{{url_for('main.register')}}">[ 注册 ]</a>
            </div>

        </div>
        <div class="img"></div>
    </div>

    <!--content-->
    <div class="content">
        <!-- 导航 -->
        <div class="nav">
            <ul>
                <li class="active">
                    <a href="">本馆书刊检索</a>
                </li>
                <li>
                    <a href="{{url_for('main.my_library')}}" class="a_two">我的图书馆</a>
                </li>
            </ul>

            <!-- 检索栏 -->
            <div class="pane">

                <form action="" method="POST" target="_blank" role="form">
                    <input type="text" id="inp">
                    <select name="全面" id="sel">
                        <option value="全面">全字段</option>
                        <option value="书名">书名</option>
                        <option value="作者">作者</option>
                        <option value="出版社">出版社</option>
                        <option value="ISBN">ISBN</option>
                        <option value="主题">主题</option>
                    </select>
                    <button type="button" id="search" onclick="book_search()">搜索</button>
                </form>
            </div>
        </div>

        <!-- 公告 -->
        <div class="notice" id="notice">
            <div class="notice_list">
                <h4>公&nbsp;&nbsp;&nbsp;&nbsp;告</h4>
                <ul></ul>
            </div>
        </div>
    </div>


    <!-- 图书展示 -->
    <div class="book_show">
        <div class="case_pic">
            <div class="case_pic_1">
                <img src="/static/images/BookImages/s.jpg" alt="三体">
                <h4>三体(科幻)</h4>
            </div>
            <div class="case_pic_1">
                <img src="/static/images/BookImages/m.jpg" alt="梦的花嫁">
                <h4>梦的花嫁(小说)</h4>
            </div>
            <div class="case_pic_1">
                <img src="/static/images/BookImages/q.jpg" alt="情书">
                <h4>情书(小说)</h4>
            </div>
            
            <div class="case_pic_1">
                <img src="/static/images/BookImages/n.jpg" alt="你一生的故事">
                <h4>你一生的故事(科幻)</h4>
            </div>
            <div class="case_pic_1">
                <img src="/static/images/BookImages/z.jpg" alt="杀死一只知更鸟">
                <h4>杀死一只知更鸟(文学)</h4>
            </div>
            <div class="case_pic_1">
                <img src="/static/images/BookImages/n.jpg" alt="你一生的故事">
                <h4>你一生的故事(科幻)</h4>
            </div>
            <div class="case_pic_1">
                <img src="/static/images/BookImages/z.jpg" alt="杀死一只知更鸟">
                <h4>杀死一只知更鸟(文学)</h4>
            </div>
            <div class="case_pic_1">
                <img src="/static/images/BookImages/n.jpg" alt="你一生的故事">
                <h4>你一生的故事(科幻)</h4>
            </div>
        </div>

        </div>
    </div>

    <!--footer-->
    <footer class="footer">
        <p>图书馆图书借阅管理系统&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&copy;2018</p>
        <p>Mail:
            <a href="mailto:joe@example.com?subject=feedback" "email me">email me</a>
        </p>
    </footer>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>

</html>