<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>图书管理-后台管理</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/manageBook.css')}}">
    <script>
        window.onload = function () {
            load_admin_username();
            load_books();
        }
    </script>
</head>

<body>
    <!-- header -->
    <div class="header">
        <div class="header_left">
            <h2>图书馆图书借阅后台管理系统</h2>
            <span>LibraryManageSystem</span>
        </div>
        <div class="header_right">
            <span>您好，&nbsp;
                <a id="admin_username" href=""></a>
                &nbsp;&nbsp;
                <a href="" onclick="logout()">退出</a>
            </span>
        </div>
    </div>
    <!-- content -->
    <div class="content">
        <!-- nav -->
        <div class="nav_left">
            <nav>
                <ul>
                    <li>目录</li>
                    <li>
                        <a href="{{url_for('admin.create_new_book')}}">图书添加</a>
                    </li>
                    <li>
                        <a href="{{url_for('admin.manage_book')}}">图书管理</a>
                    </li>
                    <li>
                        <a href="{{url_for('admin.create_new_announcement')}}">公告添加</a>
                    </li>
                    <li>
                        <a href="{{url_for('admin.manage_announcement')}}">公告管理</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- content_right -->
        <div class="content_right">
            <div class="book_add">
                <p>图书管理</p>
                <table class="book_table">
                    <tr>
                        <th>编号</th>
                        <th>书名</th>
                        <th>标准编码</th>
                        <th>图书藏本</th>
                        <th>操作</th>
                    </tr>

                </table>
                <!-- 点击图书藏本中的添加按钮显示藏本添加 -->
                <div class="mask">
                    <div class="hidden">
                        <p>图书藏本添加</p>
                        <form action="" class="hidden_form" method="POST">
                            馆藏地址：
                            <input id="addr" type="text" required="required">
                            <br>馆藏校区：
                            <input id="campus" type="text" required="required">
                            <br><br>
                            <span id="submit_hidden">提交</span>
                            <span id="cancel_hidden" onclick="hidden_hidden_div()">取消</span>
                        </form>
                    </div>
                </div>
                <!-- 操作中点击编辑按钮显示图书编辑弹窗 -->
                <div class="mask">
                    <div class="book_edit">
                        <p>图书编辑</p>
                        <form action="" method="POST">
                            图书名称：
                            <input id="book_name" class="name" type="text" required="required">
                            <div id='authors_div'>
                                图书作者：
                                <input id="book_authors" class="authors" type="text" required="required">&nbsp;
                            </div>
                            <span id="add_author" onclick="addAuthorInput()">+</span><br>

                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分类：
                            <select name="classification" id="classification" onchange="getSubClassification()">
                            </select><br>
                            &nbsp;&nbsp;ISBN号：
                            <input id="e_book_isbn" class="isbn" type="text" required="required"><br>
                            图书语种：
                            <input id="e_lang" class="language" type="text" required="required"><br>
                            
                            图书主题：
                            <input id="e_topic" class="topic" type="text" required="required"><br>
                            
                            &nbsp;&nbsp;&nbsp;出版社：
                            <input id="e_ph" class="publish_house" type="text" required="required"><br>
                            
                            &nbsp;&nbsp;&nbsp;索书号：
                            <input id="e_cn" class="call_number" type="text" required="required"><br>
                            
                            出版年份：
                            <input id="e_pd" class="publish_date" type="text" required="required"><br>
                            
                            图书图片：
                            <input id="e_img" class="image" type="text"><br>
                
                            <input id="save_form" type="button" value="保存">
                            <input id="cancel_form" type="button" value="取消" onclick="hidden_book_edit()">
                        </form>
                    </div>
                </div>
                <!-- 右下角翻页 -->
                <div class="paged">
                    <div class="page_content">
                        <a id="left_page" href="#">
                            <span class="left"></span>
                        </a>
                        <span id="left_num"></span>&nbsp;/&nbsp;
                        <span id="right_num"></span>
                        <a id="right_page" href="#">
                            <span class="right"></span>
                        </a>
                        <input id="jump_text" type="number">
                        <input id="jump" type="button" onclick="jump_page()" value="跳转">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="{{url_for('static', filename='js/manageBook.js')}}"></script>
    <script src="{{url_for('static', filename='js/common.js')}}"></script>    
</body>

</html>