<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>图书管理-后台管理</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/manageBook.css')}}">
</head>
<body>
    <!-- header -->
    <div class="header">
            <div class="header_left">
                <h2>图书馆图书借阅后台管理系统</h2>
                <span>LibraryManageSystem</span>
            </div>
            <div class="header_right">
                <span>您好，&nbsp;
                    <a href="">admin</a>
                    &nbsp;&nbsp;
                    <a href="">退出</a>
                </span>
            </div>
        </div>
        <!-- content -->
        <div class="content">
            <!-- nav -->
            <div class="nav_left">
                <nav>
                    <ul>
                        <li>目录</li>
                        <li><a href="{{url_for('admin.create_new_book')}}">图书添加</a></li>
                        <li><a href="{{url_for('admin.manage_book')}}">图书管理</a></li>
                        <li><a href="">公告添加</a></li>
                        <li><a href="">公告管理</a></li>
                    </ul>
                </nav>
            </div>
            <!-- content_right -->
            <div class="content_right">
                <div class="book_add">
                    <p>图书管理</p>
                    <table class="book_table">
                        <tr>
                            <th>编号</th>
                            <th>书名</th>
                            <th>标准编码</th>
                            <th>图书藏本</th>
                            <th>操作</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>1Ajax</td>
                            <td>12345678978945612</td>
                            <td><span class="collection_edit">编辑</span><span class="collection_delete">管理</span></td>
                            <td><span class="edit">编辑</span><span class="delete">删除</span></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ajax1</td>
                            <td>lidhwerhur</td>
                            <td><span class="collection_edit">编辑</span><span class="collection_delete">管理</span></td>
                            <td><span class="edit">编辑</span><span class="delete">删除</span></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>数据库</td>
                            <td>谢蜜</td>
                            <td><span class="collection_edit">编辑</span><span class="collection_delete">管理</span></td>
                            <td><span class="edit">编辑</span><span class="delete">删除</span></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>数据库</td>
                            <td>Ajax</td>
                            <td><span class="collection_edit">编辑</span><span class="collection_delete">管理</span></td>
                            <td><span class="edit">编辑</span><span class="delete">删除</span></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>的万伏特个人有图有</td>
                            <td>Ajax</td>
                            <td><span class="collection_edit">编辑</span><span class="collection_delete">管理</span></td>
                            <td><span class="edit">编辑</span><span class="delete">删除</span></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>12133214352</td>
                            <td>Ajax</td>
                            <td><span class="collection_edit">编辑</span><span class="collection_delete">管理</span></td>
                            <td><span class="edit">编辑</span><span class="delete">删除</span></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>12341fewt</td>
                            <td>Ajax</td>
                            <td><span class="collection_edit">编辑</span><span class="collection_delete">管理</span></td>
                            <td><span class="edit">编辑</span><span class="delete">删除</span></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>13e2453654756554tg</td>
                            <td>Ajax</td>
                            <td><span class="collection_edit">编辑</span><span class="collection_delete">管理</span></td>
                            <td><span class="edit">编辑</span><span class="delete">删除</span></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>1erewrtrefgjyt</td>
                            <td>Ajax</td>
                            <td><span class="collection_edit">编辑</span><span class="collection_delete">管理</span></td>
                            <td><span class="edit">编辑</span><span class="delete">删除</span></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>1rewte4t</td>
                            <td>Ajax</td>
                            <td><span class="collection_edit">编辑</span><span class="collection_delete">管理</span></td>
                            <td><span class="edit">编辑</span><span class="delete">删除</span></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>gfhrtyr1</td>
                            <td>Ajaxrwteryfdhtrtrjtfrhdf</td>
                            <td><span class="collection_edit">编辑</span><span class="collection_delete">管理</span></td>
                            <td><span class="edit">编辑</span><span class="delete">删除</span></td>
                        </tr>
                    </table>
                    <div class="paged">
                        <div class="page_content">
                            <span class="left"></span>
                            <span id="left_num">1</span>&nbsp;/&nbsp;
                            <span id="right_num">2</span>
                            <span class="right"></span>
                            <input id="jump_text" type="text">
                            <input id="jump" type="button" value="跳转">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>