<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>公告管理-后台系统</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/manageAnnouncement.css')}}">
    <script>
        window.onload = function(){
            // load_admin_username();
            load_announcement()
        }
    </script>
</head>

<body>
    <!-- header -->
    <div class="header">
        <div class="header_left">
            <h2>图书馆图书借阅后台管理系统</h2>
            <span>LibraryManageSystem</span>
        </div>
        <div class="header_right">
            <span>您好，&nbsp;
                <a href="" id="admin_username"></a>
                &nbsp;&nbsp;
                <a href="" onclick="logout()">退出</a>
            </span>
        </div>
    </div>
    <!-- content -->
    <div class="content">
        <!-- nav -->
        <div class="nav_left">
            <nav>
                <ul>
                    <li>目录</li>
                    <li>
                        <a href="{{url_for('admin.create_new_book')}}">图书添加</a>
                    </li>
                    <li>
                        <a href="{{url_for('admin.manage_book')}}">图书管理</a>
                    </li>
                    <li>
                        <a href="{{url_for('admin.create_new_announcement')}}">公告添加</a>
                    </li>
                    <li>
                        <a href="{{url_for('admin.manage_announcement')}}">公告管理</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- content_right -->
        <div class="content_right">
            <div class="book_add">
                <p>公告管理</p>
                <table class="book_table" id="ann_table">
                    <tr>
                        <th>公告标题</th>
                        <th>操作</th>
                    </tr>
                    <!-- <tr>
                        <td>1Ajax</td>
                        <td>
                            <span class="edit">编辑</span>
                            <span class="delete">删除</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Ajax1</td>
                        <td>
                            <span class="edit">编辑</span>
                            <span class="delete">删除</span>
                        </td>
                    </tr>
                    <tr>
                        <td>数据库</td>
                        <td>
                            <span class="edit">编辑</span>
                            <span class="delete">删除</span>
                        </td>
                    </tr> -->
                </table>
                <!-- 操作中点击编辑按钮显示公告编辑弹窗 -->
                <div class="mask">
                <div class="book_edit" id="hidden_ann_window">
                    <p>公告编辑</p>
                    <form action="" method="POST">
                        公告标题：
                        <input class="name" type="text" required="required" id="edit_title">
                        <br>
                        <br>
                        公告内容：<textarea name="" id="edit_content" cols="60" rows="15"></textarea>
                        <br>
                        <br>
                        <input id="save_form" type="button" value="保存">
                        <input id="cancel_form" type="button" value="取消" onclick="hidden_edit_window()">
                    </form>
                </div>
            </div>
                <!-- 右下角翻页 -->
                <div class="paged">
                    <div class="page_content">
                        <span class="left"></span>
                        <span id="left_num">1</span>&nbsp;/&nbsp;
                        <span id="right_num">2</span>
                        <span class="right"></span>
                        <input id="jump_text" type="text">
                        <input id="jump" type="button" value="跳转">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/manageAnnouncement.js')}}"></script>
</body>

</html>
</body>

</html>