<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>图书馆图书借阅管理系统</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/myLibrary.css')}}">
    <script>
        window.onload = function(){
            isLogin();
            get_personal_info();
            get_lending_info();
            get_comments();
            getLevels();
        }
    </script>
</head>

<body>
    <!--header-->
    <div class="logo">
        <div class="header">

            <div class="left">
                <h2>欢迎来到图书馆</h2>
                <p>与志同道合的人分享读书的快乐</p>
            </div>

            <div class="right">
                <a href="{{url_for('main.login')}}">[ 登录 ]</a>
                <a href="{{url_for('main.register')}}">[ 注册 ]</a>
            </div>

        </div>
        <div class="img"></div>
    </div>

    <!--content-->
    <div class="content">
        <!-- 导航 -->
        <div class="nav">
            <ul>
                <li>
                    <a href="{{url_for('main.index')}}" class="a_one">本馆书刊检索</a>
                </li>
                <li>
                    <a href="{{url_for('main.my_library')}}" class="a_two">我的图书馆</a>
                </li>
            </ul>
        </div>

        <!-- 个人资料 -->
        <div class="personal">
            <h4>个人资料</h4>
            <div class="per_img"></div>
            <ul class="personal_ul">
                <li class="per_name"></li>
                <li class="per_username"></li>
                <li class="per_email"></li>                
                <li class="per_sex"></li>
                <li class="per_level"></li>
                <li class="per_ins"></li>
                <li class="per_book_num"></li>
                <li class="per_edit"><button class="edit_button" onclick="edit_personal_info()">修改个人资料</button></li>
            </ul>
        </div>

        <!-- 点击修改个人资料按钮出现弹窗 -->
        <div class="personal_edit">
            <h4>修改个人资料</h4>
            <ul class="edit_ul">
                <li class="per_name">姓名：<input type="text" id="edit_name"></li>
                <li class="per_sex">性别：<select id="edit_sex">
                    <option value="1">男</option>
                    <option value="0">女</option>
                </select></li>
                <li class="per_level" class="per_sex">等级：<select id="edit_level">
                </select></li>
                <li class="per_ins">学院：<input type="text" id="edit_ins"></li>
                <li class="per_edit"><button class="save" id="edit_save">保存</button><button class="cansel" onclick="hidden_pernal_info_popups()">取消</button></li>
            </ul>
        </div>

        <!-- 我的借阅 -->
        <div class="borrow_content">
            <h4>我的借阅</h4>
            <table class="per_borrow">
                <tr>
                    <th>书名</th>
                    <th>借阅时间</th>
                    <th>是否归还</th>
                    <th>预期归还时间</th>
                    <th>是否超期</th>
                    <th>操作</th>
                </tr>
            </table>
            <span class="left"><</span>
            <span class="right">></span>
        </div>

        <!-- 我的评论 -->
        <!-- <div class="my_comment">
            <h4>我的评论</h4>
        </div> -->
    </div>

    <!--footer-->
    <footer class="footer">
        <p>图书馆图书借阅管理系统&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&copy;2018</p>
        <p>Mail:
            <a href="mailto:joe@example.com?subject=feedback" "email me">email me</a>
        </p>
    </footer>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    <script src="{{url_for('static', filename='js/myLibrary.js')}}"></script>    
</body>

</html>