<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>图书馆图书借阅管理系统</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/myLibrary.css')}}">
    <script>
        window.onload = function(){
            isLogin();
            getAnnouncements();
        }
    </script>
</head>

<body>
    <!--header-->
    <div class="logo">
        <div class="header">

            <div class="left">
                <h2>图书馆图书借阅管理系统</h2>
                <p>与志同道合的人分享读书的快乐</p>
            </div>

            <div class="right">
                <a href="{{url_for('main.login')}}">[ 登录 ]</a>
                <a href="{{url_for('main.register')}}">[ 注册 ]</a>
            </div>

        </div>
        <div class="img"></div>
    </div>

    <!--content-->
    <div class="content">
        <!-- 导航 -->
        <div class="nav">
            <ul>
                <li>
                    <a href="{{url_for('main.index')}}">本馆书刊检索</a>
                </li>
                <li>
                    <a href="{{url_for('main.my_library')}}" class="a_two">我的图书馆</a>
                </li>
            </ul>
        </div>

        <!-- 个人资料 -->
        <div class="personal">
            <h4>个人资料</h4>
            <div class="per_img"></div>
            <ul class="personal_ul">
                <li class="per_name">姓名：杨梅</li>
                <li class="per_username">用户名：ym</li>
                <li class="per_sex">性别：女</li>
                <li class="per_level">等级：本科生</li>
                <li class="per_ins">学院：大数据学院</li>
                <li class="per_book_num">可借书数量：7</li>
                <li class="per_edit"><button class="edit_button">修改个人资料</button></li>
            </ul>
        </div>

        <!-- 点击修改个人资料按钮出现弹窗 -->
        <div class="personal_edit">
            <h4>修改个人资料</h4>
            <ul class="edit_ul">
                <li class="per_name">姓名：<input type="text"></li>
                <li class="per_username">用户名：<input type="text"></li>
                <li class="per_sex">性别：<input type="text"></li>
                <li class="per_level">等级：<input type="text"></li>
                <li class="per_ins">学院：<input type="text"></li>
                <li class="per_edit"><button class="save">保存</button><button class="cansel">取消</button></li>
            </ul>
        </div>

        <!-- 我的借阅 -->
        <div class="borrow_content">
            <h4>我的借阅</h4>
            <table class="per_borrow">
                <tr>
                    <th>书名</th>
                    <th>借阅时间</th>
                    <th>是否归还</th>
                    <th>预期归还时间</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td class="borrow_book"><a href="">Ajax</a></td>
                    <td class="borrow_time">2017.08.12</td>
                    <td class="is_borrow">是</td>
                    <td class="expect_time">2017.09.12</td>
                    <td class="once_borrow"><button class="once">续借</button></td>
                </tr>
                <tr>
                    <td><a href="">Ajax</a></td>
                    <td>2017.08.12</td>
                    <td>是</td>
                    <td>2017.09.12</td>
                    <td><button>续借</button></td>
                </tr>
                <tr>
                    <td><a href="">Ajax</a></td>
                    <td>2017.08.12</td>
                    <td>是</td>
                    <td>2017.09.12</td>
                    <td><button>续借</button></td>
                </tr>
            </table>
        </div>

        <!-- 我的评论 -->
        <div class="my_comment">
            <h4>我的评论</h4>
            <h5>《Ajax》</h5>
            <span class="comment_time">2017.08.12</span>
            <p>Ajax 即“Asynchronous Javascript And XML”（异步 JavaScript 和 XML），是指一种创建交互式网页应用的网页开发技术。
                    Ajax = 异步 JavaScript 和 XML（标准通用标记语言的子集）。
                    Ajax 是一种用于创建快速动态网页的技术。
                    Ajax 是一种在无需重新加载整个网页的情况下，能够更新部分网页的技术。 [1]  
                    通过在后台与服务器进行少量数据交换，Ajax 可以使网页实现异步更新。这意味着可以在不重新加载整个网页的情况下，对网页的某部分进行更新。
            </p>
        </div>
    </div>

    <!--footer-->
    <footer class="footer">
        <p>图书馆图书借阅管理系统&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&copy;2018</p>
        <p>Mail:
            <a href="mailto:joe@example.com?subject=feedback" "email me">email me</a>
        </p>
    </footer>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>

</html>